{% extends 'services/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
    {% for object in object_list %}
    {% include 'reviews/includes/inc_review_card.html' with object=object %}
    {% endfor %}
    </div>
    {% include 'services/includes/inc_pagination.html' %}
    <div class="d-flex justify-content-between align-items-center mt-3">
        <a href="{% url 'reviews:review_create' %}" class="btn btn-outline-primary">Добавить отзыв</a>
        {% if user.role == 'admin' or user.role == 'moderator' %}
        <div class="d-flex gap-2">
            <a href="{% url 'reviews:reviews_deactivated' %}" class="btn btn-outline-secondary">Неактивные отзывы</a>
            <a href="{% url 'reviews:reviews_list' %}" class="btn btn-outline-success">Активные отзывы</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}